
<h1>devices</h1>
<hr>

<% possibilities = ["tablet?", "console?", "platform", "mac?", "windows?", "windows_x64?", "windows8?", "windows_rt?", "linux?", "blackberry?", "bot?", "tv?", "xbox?", "playstation?", "nintendo?", "console?", "psp?", "iphone?", "ipad?", "ipod?", "surface?", "kindle?", "playbook?", "windows_touchscreen_desktop?"].sort %>

<% possibilities.each do |technique| %>
  <% if browser.send(technique) %>
    <span class="technique"><%= "#{technique.gsub('?', "")}" %> <%= "#{browser.send(technique)}" %></span><br/>
  <% else %>
    <%= "#{technique} FALSE" %><br/>
  <% end %>
<% end %>

