
<h1>sample methods brought by browser gem</h1>
<hr>

<% possibilities = ["safari?", "opera?", "chrome?", "chrome_os?", "mobile?", "tablet?", "console?", "firefox?", "ie?", "ie6?", "modern?", "platform", "mac?", "windows?", "windows_x64?", "windows8?", "windows_rt?", "linux?", "blackberry?", "bot?", "tv?", "xbox?", "playstation?", "nintendo?", "console?", "psp?", "iphone?", "ipad?", "ipod?", "surface?", "kindle?", "playbook?", "windows_touchscreen_desktop?", "name", "meta", "user_agent", "version", "full_version", "accept_language"].sort %>


<% possibilities.each do |technique| %>
  <% if browser.send(technique) %>
    <span class="technique"><%= "#{technique.gsub('?', "")}" %> <%= "#{browser.send(technique)}" %></span><br/>
  <% else %>
    <%= "#{technique} FALSE" %><br/>
  <% end %>
<% end %>

